#cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.route-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    text-align: center;
    padding: 15px;
    background-color: #C5C5C5;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle box shadow */

    margin: 0px 15px 30px 15px;
    transition: 0.5s;

    width: 330px;
    height: 330px;
}

.route-image {
    width: 300px;
    height: auto;
    border-radius: 4px;
    margin-bottom: 10px;
}

.route-title {
    color: azure; /* Link color */
    font-weight: lighter;
}


#threejs-routes-title {
    margin-top: 100px;
    text-align: center;
    color: #4C4C4C;
    margin-bottom: 30px;
}

.route-card:hover {
    background-color: #A5A5A5;
    cursor: pointer;
    scale: 1.05;
    transition: 0.5s;
}

@media(max-width: 768px) {
    #cards-container {
        flex-direction: column;
        align-items: center;
    }

    .route-card {
        margin: 10px 10px 10px 10px;
    }
}